@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	box-sizing: none;
	background-image: linear-gradient(to bottom right, #A9EFDE, #51C8D2);
}

.h:hover {
	background-color: #502B0E;
}

.h {
	border: 5px black solid;
        border-radius: 50px;
        display: flex;
        flex-direction: row-reverse;
        background-color: #D8DB21;
        padding: 4px;
}

.hb {
	border: none;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 6px;
}

.hb:hover {
	color: white
}

.m1 {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.m1h {
	font-family: 'Roboto', sans-serif;
	font-size: 62px;
}

.m1p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.divimg {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ii {
	border: 5px black solid;
	border-radius: 100px;
	height: 300px

}

.ii:hover {
	background-color: white
}

.is {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.wi {
	margin-top: 50px;
	border: 5px black solid;
	border-radius: 100px;
	height: 300px;
}

.wi:hover {
	background-color: white;
}

.ws {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

